<div class="jumbotron center">
	<h1>Wine Fixes Everything!</h1>
		<p>
			<%= link_to "Already Sippin'", new_user_session_path, class: "btn btn-danger" %></p>
			<%= link_to "Sign Up to Start Tasting", new_user_registration_path, class: "btn btn-danger" %>
		</p>

</div>