<div class="jumbotron center">
	<h1>Welcome to my app!</h1>
	<%= link_to "Already Sippin'", "#", class: "btn btn-danger" %>!</p>
	<%= link_to "Sign Up to Start Tasting", "#", class: "btn btn-danger" %>!</p>
</div>